body{
    background: linear-gradient(to bottom left, #ff0000, #ff7f00);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    position: relative;
    background-color: white;
    width: 450px;
    height: 550px;
    border: black solid 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen{
    position: absolute;
    top: 0;
    border-bottom: rgb(255, 0, 0) solid 2px;
    width: 450px;
    height: 200px;
}
.imagenPortada{
    border-top-left-radius: 7px;
    width: 450px;
    height: 200px;
}

.imagenPerfil{
    position: absolute;
    top: 100px;
    left: 160px;
    border-radius: 50%;
    border: rgb(255, 0, 0) solid 3px;
    width: 120px;
    height: 120px;
}

.contenido{
    position: absolute;
    top:230px;
}

h1,h6{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    text-align: center;
}
p{
    margin: 1;
    text-justify: inter-word;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
}

.footer{
    position: absolute;
    top:450px;
    left:180px;
}

.boton {
    top: 0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.boton:hover {
    background-color: #0056b3;
}

.redes{
    top: 1;
    display: flex;
    position: absolute;
    top:500px;
}

.redes a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}

.redes img{
    width: 30px;
}
  